node_modules/
.DS_Store
*.log
.qwen
dist/
.reasonix
.zcode
.codebuddy
-**/
._**/
_*
._*
.workbuddy
_logs/
_plans/
_prompts
AGENTS.md
audit

# General Ignorance
.agents
AGENT*.md
SELF2*.md
.kilo
.mindmaps
.video_agent
.zcode-plugin
out
node_modules
__pycache__/
**/__pycache__/
